/* Desktop first*/
html,
body {
  overflow-x: hidden;
}

body {
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
  display: flex;
  flex-direction: column;
}

body > * {
  width: 100vw;
}

/* Global */

h2 {
  font-size: 2.8em;
  font-weight: 300;
  color: hsl(233, 26%, 24%);
}

button {
  background: linear-gradient(
    90deg,
    hsl(136, 65%, 51%) 27%,
    hsl(192, 70%, 51%) 96%
  );
  border-radius: 100px 100px 100px 100px;
  border: none;
  color: hsl(0, 0%, 100%);
  padding: 1% 3%;
}

button:hover {
  cursor: pointer;
  opacity: 0.75;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: hsl(233, 8%, 62%);
}

/* header */

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: hsl(233, 8%, 62%);
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 14%;
  left: 5%;
  right: 5%;
  margin: 0 auto;
  height: 35.5%;
  width: 80%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.mobile-menu li {
  margin-bottom: 10px;
}

header {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 25px;
  height: 7vh;
  width: 100vw;
}

.header-links {
  display: flex;
  flex-direction: row;
  color: hsl(233, 8%, 62%);
  justify-content: space-evenly;
  gap: 30px;
}

.header-links a:hover {
  border-style: solid;
  border-image: linear-gradient(
      90deg,
      hsl(136, 65%, 51%) 27%,
      hsl(192, 70%, 51%) 96%
    )
    0 0 80% 0/0 0 6px 0;
  padding-bottom: 39px;
}

.logo {
  width: 160px;
  height: 25px;
}

/* main*/

main {
  background-color: hsl(0, 0%, 98%);
  height: 600px;
  width: 100vw;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.background {
  background-image: url("../images/image-mockups.png"),
    url("../images/bg-intro-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto;
  background-position-x: 55vw, 42vw;
  background-position-y: -120px, -35vh;
}

.background h1 {
  font-size: 3.5em;
  font-weight: 300;
  color: hsl(233, 26%, 24%);
}

.background p {
  color: hsl(233, 8%, 62%);
  margin-bottom: 5%;
}

.background button {
  padding: 3% 6%;
}

.mockup {
  width: 53vw;
  height: 95vh;
  margin-left: 20%;
  transform: translateY(70px);
}

.intro {
  width: 35vw;
  margin-left: 8%;
}

/* details */
.details {
  height: 650px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: hsl(220, 16%, 96%);
  row-gap: 50px;
}

.details-header {
  margin-top: 2%;
  margin-left: 7%;
}

.details p {
  color: hsl(233, 8%, 62%);
}

.features {
  display: flex;
  margin-left: 7%;
  margin-right: 7%;
  gap: 2%;
}

.features h3 {
  font-size: 1.5rem;
  font-weight: 300;
  color: hsl(233, 26%, 24%);
}

/* articles */
.block-articles {
  background-color: hsl(0, 0%, 98%);
  width: 100vw;
}

.block-articles h2 {
  margin-left: 7%;
}

.articles {
  height: 600px;
  margin-left: 4%;
  margin-right: 4%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.article {
  background-color: white;
}

figure img {
  max-width: 100%;
  height: 100%;
  width: auto;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.article-img {
  height: 50%;
}

.article h3 {
  font-weight: 300;
  color: hsl(233, 26%, 24%);
  font-size: 1.2rem;
}

.article-content {
  padding: 30px;
}

.article h3:hover {
  cursor: pointer;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(
    90deg,
    hsl(136, 65%, 51%) 27%,
    hsl(192, 70%, 51%) 96%
  );
}

.article-content figcaption {
  font-size: 0.8rem;
  color: hsl(233, 8%, 62%);
}

.article-content p {
  color: hsl(233, 8%, 62%);
  font-size: 1.1rem;
}

/* Footer*/

footer {
  height: auto;
  background-color: hsl(233, 26%, 24%);
  display: flex;
  justify-content: space-around;
}

.footer-logo-social {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-action {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footer-action p {
  color: hsl(233, 8%, 62%);
}

footer button {
  margin-top: 20px;
  padding: 15px 40px;
}

footer nav ul {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  margin-top: 40px;
  text-align: center;
}

footer nav a {
  color: white;
}

footer nav li {
  width: 50%;
  padding-bottom: 30px;
  font-size: 0.9em;
  white-space: nowrap;
  /* text-align: center; */
  /* position: relative; */
}

.social-media img {
  padding-right: 10px;
}

/* Mobile Landscape or Tablet version*/
@media (max-width: 927px) {
  /* details*/
  .details {
    height: auto;
    padding-bottom: 60px;
  }

  .features {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .features {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Articles */
  .block-articles {
    height: 2000px;
  }

  .articles {
    flex-direction: column;
    width: 100%;
    margin: 0 0;
  }
  .article {
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
  }
  figure img {
    height: 100%;
    width: 100%;
  }

  /* Footer*/
  footer {
    /* margin-top: 2000px; */
    padding-top: 40px;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-bottom: 40px;
  }

  .footer-logo-social {
    gap: 30px;
  }

  footer nav ul {
    flex-direction: column;
    margin-right: 40px;
    font-size: 1.2em;
  }
}
/* Mobile version*/

@media (max-width: 429px) {
  /*
        Header
    */
  #hamburger-icon {
    display: block;
  }

  header .header-links,
  header button {
    display: none;
  }

  header {
    justify-content: space-around;
  }
  .background {
    background-image: url("../images/image-mockups.png"),
      url("../images/bg-intro-mobile.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    background-position-x: 0vw, 0vw;
    background-position-y: -130px, -50px;
  }

  main {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-bottom: 50px;
  }

  .intro {
    width: 80%;
    margin-top: 350px;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 400;
  }

  .intro h1 {
    font-size: 1.9em;
  }

  .intro button {
    margin: 0 70px;
  }

  /* details*/
  .details {
    height: auto;
    padding-bottom: 60px;
  }

  .features {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .features {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Articles */
  .block-articles {
    height: 2300px;
  }

  .articles {
    flex-direction: column;
    width: 100%;
    margin: 0 0;
  }

  figure img {
    height: 100%;
  }

  .article-img {
    height: 50%;
  }

  /* Footer*/
  footer {
    padding-top: 40px;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-bottom: 40px;
  }

  .footer-logo-social {
    gap: 30px;
  }

  .footer-action p {
    text-align: right;
  }

  footer nav ul {
    flex-direction: column;
    margin-right: 40px;
    font-size: 1.2em;
    white-space: nowrap;
  }
}
